In [1]:
from dask import dataframe
import numpy as np
import datetime
import sklearn
import pandas as pd
import dask_ml
from sklearn.preprocessing import StandardScaler

In [2]:
input_file = "C:/Users/Willy/Documents/Zophia/zenpli/backend-dev-data-dataset.txt"
data = dataframe.read_csv(input_file, dtype={'cont_10': 'object',
                                                      'disc_6': 'object'})

In [3]:
data.head()

,key_1,date_2,cont_3,cont_4,disc_5,disc_6,cat_7,cat_8,cont_9,cont_10
0,HC2030,2016-11-16,622.27,-2.36,2,6,frequent,happy,0.24,0.25
1,sP8147,2004-02-18,1056.16,59.93,2,8,never,happy,1.94,2.29
2,Cq3823,2007-03-25,210.73,-93.94,1,1,never,happy,-0.11,-0.1
3,Hw9428,2013-12-28,1116.48,80.58,3,10,never,surprised,1.27,1.15
4,xZ0360,2003-08-25,1038.30,12.37,6,17,never,happy,1.76,1.76

In [4]:
data.tail()

,key_1,date_2,cont_3,cont_4,disc_5,disc_6,cat_7,cat_8,cont_9,cont_10
999995,iu0934,2019-11-03,4084.10,0.70,3,8,always,sad,1.59,na
999996,Pl3288,2016-07-09,4645.25,34.13,1,7,frequent,happy,0.20,na
999997,po7892,2014-11-04,2959.45,154.44,5,2,infrequent,happy,1.39,1.5
999998,GD2303,2005-03-10,3193.15,25.60,5,5,frequent,sad,0.22,0.23
999999,ta3165,2001-11-03,232.23,41.14,3,5,frequent,surprised,-1.95,-1.86

In [27]:
data.describe().compute()

               cont_3          cont_4          disc_5          cont_9
count  1000000.000000  1000000.000000  1000000.000000  1000000.000000
mean      1650.254781       -0.018454        3.502646        0.000466
std       2162.673272       99.961782        1.707400        0.999289
min          7.920000     -446.890000        1.000000       -5.510000
25%        510.010000      -67.412500        2.000000       -0.670000
50%       1000.660000        0.030000        4.000000        0.000000
75%       1966.882500       67.290000        5.000000        0.670000
max     127527.830000      514.260000        6.000000        5.060000

In [6]:
data.dtypes

key_1       object
date_2      object
cont_3     float64
cont_4     float64
disc_5       int64
disc_6      object
cat_7       object
cat_8       object
cont_9     float64
cont_10     object
dtype: object

In [7]:
data.disc_6.value_counts(dropna=False).compute()

na    100327
16     50273
15     50182
12     50175
17     50174
13     50136
0      50104
3      50085
10     50065
7      50009
11     49997
5      49955
2      49919
9      49842
1      49840
6      49825
4      49769
8      49751
14     49572
Name: disc_6, dtype: int64

In [8]:
data.cont_10.value_counts(dropna=False).compute()

na       100266
-0.06      3712
-0.08      3709
-0.04      3702
-0.1       3700
          ...
-4.12         1
-4.11         1
-5.7          1
-4.79         1
-4.21         1
Name: cont_10, Length: 891, dtype: int64

In [9]:
data['disc_6'] = data['disc_6'].replace('^[a-zA-Z]+$',np.nan, regex=True)

In [10]:
data.disc_6.value_counts(dropna=False)

Dask Series Structure:
npartitions=1
    int64
      ...
Name: disc_6, dtype: int64
Dask Name: value-counts-agg, 7 tasks

In [11]:
data.disc_5.value_counts(dropna=False)

Dask Series Structure:
npartitions=1
    int64
      ...
Name: disc_5, dtype: int64
Dask Name: value-counts-agg, 7 tasks

In [12]:
np.floor(data.cont_9).value_counts(dropna=False)

Dask Series Structure:
npartitions=1
    int64
      ...
Name: cont_9, dtype: int64
Dask Name: value-counts-agg, 8 tasks

In [14]:
data.cat_7.value_counts(dropna=False).compute()

frequent      473335
never         473035
infrequent     35988
always         17642
Name: cat_7, dtype: int64

In [15]:
data.cat_8.value_counts(dropna=False).compute()

happy        492940
surprised    430773
sad           76020
scared          267
Name: cat_8, dtype: int64

In [17]:
def filter_column(data: dataframe, column: str, value: str) -> dataframe:
    return data[data[column] != value]

In [18]:
filter_data = filter_column(data,'cat_8', 'scared')

In [19]:
filter_data.cat_8.value_counts(dropna=False).compute()

happy        492940
surprised    430773
sad           76020
Name: cat_8, dtype: int64

In [26]:
import matplotlib.pyplot as plt

corr = filter_data.corr().compute()
corr.style.background_gradient(cmap='coolwarm')